code {
  background: #000000;
  border-radius: 20px;
  border-top: 30px solid #343541;
  color: #ffffff;
  page-break-inside: avoid;
  font-family: monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  white-space: pre;
}

body {
  font-family: "roboto", sans-serif;
  background: #444654;
  color: #ffffff;
  font-size: 30px;
}

.main {
  margin-left: 20%;
}

*:not(b) {
  margin-right: 5%;
}

.big {
  font-size: 80px;
}

b::before,
b::after {
  content: "`";
}

* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #444654;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #444654;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.sidenav {
  padding-right: 6%;
  margin-right: 10%;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.buttonlink a:link,
.buttonlink a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttonlink a:hover,
.buttonlink a:active {
  background-color: rgb(96, 200, 59);
}

.leftindent {
  margin-left: 5%;
}